<h1>Welcome!</h1>

<ul>
    <li><img src="../assets/angular.png" width="50"></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/flights/flights-search">Flights</a></li>
</ul>

<router-outlet></router-outlet>